<div id="Main" [ngStyle]="{ 'background-color': '#FFF', height: '100%' }">
  <div class="dashboard">
    <div class="filterOptions sticky-top z-0 fixed">
      <div
        class="d-flex flex-sm-column flex-row flex-nowrap align-items-center w-100 sticky-top"
      >
        <ul
          class="nav px-3 options w-100 nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto me-auto text-center align-items-center sticky-top"
        >
          <br />
          <li class="text-success h4"><b>Age</b></li>
          <li>
            <span>{{ min }}</span>
            <mat-slider min="1" max="100">
              <input
                value="7"
                (input)="minAgeChange($event)"
                matSliderStartThumb
              />
              <input
                value="40"
                (input)="maxAgeChange($event)"
                matSliderEndThumb
              />
            </mat-slider>
            <span>{{ max }}</span>
          </li>
          <hr class="color-red w-100" />
          <br />
          <li class="text-success h4"><b>Gender</b></li>
          <li>
            <mat-form-field appearance="fill">
              <mat-select
                required
                (selectionChange)="selectGender($event.value)"
              >
                <!-- <mat-option>-- None --</mat-option> -->
                <mat-option [value]="1">Male</mat-option>
                <mat-option [value]="2">Female</mat-option>
                <mat-option [value]="3">Not Specified</mat-option>
              </mat-select>
              <mat-label
                ><mat-icon>pets</mat-icon> <b> Gender</b>
                <i> select</i></mat-label
              >
            </mat-form-field>
          </li>

          <!-- <hr class="color-red w-100" /> -->

          <br />
          <li class="text-success h4"><b>Breed</b></li>
          <li>
            <mat-form-field appearance="fill">
              <mat-select
                required
                (selectionChange)="selectBreed($event.value)"
              >
                <mat-option>-- None --</mat-option>
                <mat-option
                  *ngFor="let Breed of BreedOptions"
                  [value]="Breed.value"
                  >{{ Breed.label }}</mat-option
                >
              </mat-select>
              <mat-label
                ><mat-icon>pets</mat-icon> <b> Breed</b>
                <i> select</i></mat-label
              >
            </mat-form-field>
          </li>

          <!-- <hr class="color-red w-100" /> -->
          <br />
          <li class="text-success h4"><b>Health</b></li>
          <div class="mb-3">
            <span
              role="button"
              class="btn text-black border border-2 cursor-pointer lg:px-3 my-2 mx-1"
              id="basic-addon2"
              (click)="addHealth(1)"
              [ngClass]="health == 1 ? 'border-success' : ''"
            >
              Healthy
            </span>
            <span
              role="button"
              class="btn text-black border border-2 cursor-pointer lg:px-3 my-2 mx-1"
              id="basic-addon2"
              (click)="addHealth(2)"
              [ngClass]="health == 2 ? 'border-success' : ''"
            >
              Minor Injury
            </span>
            <span
              role="button"
              class="btn text-black border border-2 cursor-pointer lg:px-3 my-2 mx-1"
              id="basic-addon2"
              (click)="addHealth(3)"
              [ngClass]="health == 3 ? 'border-success' : ''"
            >
              Serious Injury
            </span>
            <span
              role="button"
              class="btn text-black border border-2 cursor-pointer lg:px-3 my-2 mx-1"
              id="basic-addon2"
              (click)="addHealth(0)"
              [ngClass]="health == 0 ? 'border-success' : ''"
            >
              Not Specified
            </span>
          </div>

          <hr class="color-red w-100" />
        </ul>
      </div>
    </div>

    <div class="cards d-flex flex-column">
      <div>
        <h5>Page no:{{ page }}</h5>
      </div>
      <!-- <div class="align-self-end me-5">
        <h5>Sort By</h5>
      </div> -->
      <div class="d-flex flex-wrap justify-content-between"></div>
      <br />
      <div class="d-flex flex-wrap justify-content-between">
        <app-card *ngFor="let Pet of Pets" [Pet]="Pet"></app-card>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <button
          (click)="moveBackword()"
          class="btn btn-success btn-lg banner-btn mx-2 rounded-circle"
        >
          <fa-icon [icon]="icons.faBackwardStep"></fa-icon>
        </button>
        <button
          (click)="moveForword()"
          class="btn btn-success btn-lg banner-btn mx-2 rounded-circle"
        >
          <fa-icon [icon]="icons.faForwardStep"></fa-icon>
        </button>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
