<div id="Main" [ngStyle]="{ 'background-color': '#FFF', height: '100%' }">
  <div class="dashboard">
    <div class="filterOptions sticky-top z-0 fixed">
      <div
        class="d-flex flex-sm-column flex-row flex-nowrap align-items-center w-100 sticky-top"
      >
        <ul
          class="nav px-3 options w-100 nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center sticky-top"
        >
          <li>
            <a
              href="#"
              class="nav-link py-3 px-2"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              Health
            </a>
          </li>
          <li>
            <a
              href="#"
              class="nav-link py-3 px-2"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              Health
            </a>
          </li>
          <li>
            <a
              href="#"
              class="nav-link py-3 px-2"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              Health
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="cards d-flex flex-column">
      <div>
        <h5>Page no:</h5>
      </div>
      <div class="align-self-end me-5">
        <h5>Sort By</h5>
      </div>
      <div class="d-flex flex-wrap justify-content-between"></div>
      <br />
      <div class="d-flex flex-wrap justify-content-between">
        <app-card *ngFor="let Pet of Pets" [Pet]="Pet"></app-card>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <button
          (click)="moveBackword()"
          class="btn btn-success btn-lg banner-btn mx-2 rounded-circle"
        >
          <fa-icon [icon]="icons.faBackwardStep"></fa-icon>
        </button>
        <button
          (click)="moveForword()"
          class="btn btn-success btn-lg banner-btn mx-2 rounded-circle"
        >
          <fa-icon [icon]="icons.faForwardStep"></fa-icon>
        </button>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
