<div id="Login" class="container-fluid m-0 p-0 d-flex">
  <div class="image-div">
    <img
      class="img-fluid mx-auto h-100"
      src="./assets/register/login.jpg"
      alt="animal help"
    />
  </div>
  <div class="content-div container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card h-100">
        <div class="card-body my-5">
          <h2 class="text-uppercase text-center mb-5">Welcome, User</h2>
          <form [formGroup]="userLogin" (ngSubmit)="handleFormSubmit()">
            <div class="form-outline mb-4">
              <input
                formControlName="email"
                type="email"
                class="form-control form-control-lg"
              />
              <label class="form-label" for="form3Example3cg">
                Your Email
              </label>
              <div
                *ngIf="!email?.valid && (email?.dirty || email.touched)"
                class="alert alert-danger py-0"
                role="alert"
              >
                email is mandatory
              </div>
            </div>

            <div class="form-outline mb-4">
              <input
                formControlName="password"
                type="password"
                name="password"
                class="form-control form-control-lg"
              />
              <label class="form-label" for="form3Example4cg"> Password </label>
              <div
                *ngIf="
                  !password?.valid && (password?.dirty || password.touched)
                "
                class="alert alert-danger py-0"
                role="alert"
              >
                password is mandatory,
                <h6>*no spaces allowed</h6>
                <h6>*minLength (5), maxLength(15)</h6>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <app-button type="submit" text="Login"></app-button>
            </div>

            <!-- <h4 class="text-center my-4">OR, Login using</h4>
            <div class="form-outline mb-4">
              <div class="text-center">
                <app-button
                  type="submit"
                  class="btn btn-link btn-floating mx-1"
                  text="google icon"
                >
                </app-button>
              </div>
            </div> -->

            <p class="text-center text-muted mt-5 mb-0">
              Don't have an account?
              <a href="/register" class="fw-bold text-body">
                <u>Register here</u>
              </a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
