#Login {
  font-family: "Cormorant", serif;
  background-color: antiquewhite;

  color: black;
  background-color: antiquewhite;
}

.btn {
  cursor: pointer;
  color: white;
}

.image-div {
  width: 70%;
  height: 85vh;
}

.content-div {
  width: 30%;
  height: 85vh;
}

input.ng-invalid {
  border-left: 5px solid rgba(255, 0, 0, 0.803);
}

input.ng-valid {
  border-left: 5px solid rgba(0, 128, 0, 0.799);
}

@media screen and (max-width: 900px) {
  .content-div {
    width: 90%;
    height: 90vh;
    margin-top: 2%;
  }

  .image-div {
    display: none;
  }
}
