<div class="container-fluid">
  <div
    class="Landing container-fluid border border-3 border-success shadow-lg my-4 rounded"
  >
    <!-- Banner div -->
    <div class="banner-div ps-4">
      <h1>Paws Adoption</h1>
      <h3>Everyone can pass by, but not everyone can stop and help.</h3>
      <h2>Adopt, don't shop.</h2>
      <h3>
        We inspire and enpower communities to make difference in the lives of
        animals. Find your new best friend and give a pet a loving home.
      </h3>
      <!-- <app-button text="find a buddy"></app-button> -->
    </div>
  </div>
  <!-- Content -->
  <div class="container-fluid content-cards text-center">Cards</div>
  <!-- Leaflet -->
  <app-leaflet></app-leaflet>
</div>
