<div class="container-fluid">
  <div
    class="Landing container-fluid border border-3 border-success shadow-lg my-4 rounded"
  >
    <!-- Banner div -->
    <div class="banner-div ps-4">
      <h1>Paws Adoption</h1>
      <h3>Everyone can pass by, but not everyone can stop and help.</h3>
      <h2>Adopt, don't shop.</h2>
      <h3>
        We inspire and enpower communities to make difference in the lives of
        animals. Find your new best friend and give a pet a loving home.
      </h3>
      <!-- <app-button text="find a buddy"></app-button> -->
    </div>
  </div>
  <!-- Content -->
  <div class="container-fluid content-cards text-center">
    <div
      class="d-flex flex justify-content-center container lg:w-50 w-100 rounded py-1 bg-light"
    >
      <button class="btn btn-light btn-lg text-black lg:mx-3 mx-0">
        <b> New Cuties</b>
      </button>
      <button class="btn btn-light btn-lg text-black mx-3">
        <b>Recently loved</b>
      </button>

      <button class="btn btn-light btn-lg text-black mx-3">
        <b>Popular Pets</b>
      </button>
    </div>
    <div class="d-flex flex justify-content-center my-5">Cards</div>
  </div>
  <!-- Leaflet -->
  <app-leaflet></app-leaflet>
</div>
