<div
  class="chat-component container-fluid d-flex w-100 justify-content-between"
>
  <div class="w-25 border-2 border-white p-2 bg-light">
    <ng-container *ngFor="let user of chatList">
      <button
        class="btn btn-lg btn-success text-white w-100 d-flex justify-content-around my-2"
        (click)="setReceiver(user.UserId, user.PetID)"
        [ngStyle]="{ 'font-size': '20px' }"
      >
        <img
          type="button"
          data-bs-toggle="dropdown"
          src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
          width="55"
          height="55"
          class="rounded-circle dropdown-toggle"
          alt="Placeholder profile pic"
        />
        <b *ngIf="user.username; else userId" class="w-full m-auto">
          {{ user.username }}</b
        >
        <ng-template #userId>
          {{
            user.UserId.length > 7
              ? (user.UserId | slice : 0 : 7) + "..."
              : user.UserId
          }}</ng-template
        >
      </button></ng-container
    >
  </div>
  <div
    *ngIf="receiverId && petId"
    class="w-75 bg-white h-90 d-flex flex-column rounded"
  >
    <div
      *ngIf="userName$ | async as username; else loading"
      class="w-100 h-100 bg-white d-flex flex-column m-2 rounded overflow-auto"
    >
      <div *ngIf="petName; else loading" class="w-100 h-20">
        <div
          class="w-100 d-flex align-items-center bg-success p-2 text-white rounded"
        >
          <div class="px-2">
            <img
              type="button"
              data-bs-toggle="dropdown"
              src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
              width="55"
              height="55"
              class="rounded-circle dropdown-toggle"
              alt="Placeholder profile pic"
            />
          </div>
          <div>
            <span> {{ username }} </span>-<span>{{ petName }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="messages" class="overflow-auto bg-light h-100">
        <ng-container *ngFor="let message of messages">
          <app-message
            [message]="message"
            [SenderId]="message.Sender"
          ></app-message
        ></ng-container>
      </div>
      <form
        (ngSubmit)="postMessage()"
        class="mt-auto align-self-end w-100 d-flex input-group"
        novalidate
      >
        <input
          type="text"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
          class="form-control form-control-lg shadow-none"
          [(ngModel)]="message"
          name="message"
          #text="ngModel"
          minlength="1"
          maxlength="25"
          required
        />
        <button
          type="submit"
          class="input-group-append btn btn-success btn-sm text-white px-4"
        >
          send
        </button>
      </form>
    </div>
  </div>
</div>

<ng-template #loading
  >No User Found. Sorry, We are running on test data. Many of our Pets have no
  users to talk to.</ng-template
>
