<footer
  class="footer bg-light text-center container-fluid bottom-0 text-black d-flex lg:flex-row :flex-column justify-content-between lg:px-8 sm:px-4 py-2"
>
  <div
    class="text-center d-flex flex text-center align-items-center justify-content-start me-6 w-50"
  >
    <h6 class="px-3">
      <a class="nav-link active" aria-current="page"> Adopt </a>
    </h6>
    <h6 class="px-3">
      <a class="nav-link active" aria-current="page" routerLink="/profile">
        Profile
      </a>
    </h6>
    <h6 class="px-3">
      <a class="nav-link active" aria-current="page" routerLink="/">
        About Us
      </a>
    </h6>
    <h6 class="px-3">
      <a
        class="nav-link active"
        aria-current="page"
        href="https://github.com/Hardikag17/savepaws"
      >
        Team
      </a>
    </h6>
    <h6 class="px-3">
      <a
        class="nav-link active"
        aria-current="page"
        href="https://github.com/Hardikag17/savepaws"
      >
        Contribute
      </a>
    </h6>
  </div>

  <div class="text-center d-flex flex text-center align-items-center m-auto">
    <h6 class="p-2">
      <a class="navbar-brand" to="/">
        <img alt="logo" src="./assets/brand/logo.png" height="20" />
        <b> Paws</b>
      </a>
    </h6>
    <h6 class="p-2">Terms of use</h6>
    <h6 class="p-2">Privacy Policy</h6>
  </div>
</footer>
