<div class="container p-2">
  <hr />
  <h3>Your Adoption Request</h3>
  <hr />
  <div class="d-flex">
    <div *ngIf="request$ | async as request; else loading">
      <app-request-card
        [status]="request.status"
        [request]="request.Pet"
      ></app-request-card>
    </div>
  </div>

  <hr />
  <h3>Your Pet's Requests</h3>
  <hr />
  <div
    *ngIf="requests$ | async as requests; else loading"
    class="d-flex w-100 flex-wrap justify-content-between"
  >
    <ng-container *ngFor="let el of requests">
      <ng-container *ngIf="!el.Pet.Status">
        <app-requests-card
          [requests]="el.requests"
          [Pet]="el.Pet"
        ></app-requests-card>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #loading> Loading... </ng-template>
